{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<title>Skill Scanner: CV Review for JOB SEEKERS</title>
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Skill Scanner: CV Review for JOB SEEKER- Data Scientist
{% endblock %}


{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Skill Scanner: CV Review for JOB SEEKERS - Data Scientist</h1>
	  <img src="{{url_for('static', filename='triforce.png')}}" alt="Skill Scanner Interaction Diagram"><br>
	  <i>Skill Scanner can support Job Seekers, Employers and Education. This example shows what Skill Scanner can achieve for JOB SEEKERS.</i>

      <p class="lead">Please enter at least 2 skills from your CV. Use one line for each skill. Note:
	  <ul>
	  <li><i>In the future you will be able to upload a CV to Skill Scanner.</li>
	  <li>If you do not have time or are not a data scientist, <A href="/sample_report",target="_blank">go download a <b>Sample Report</b> here</A>.</i></li><br><br>
      {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>

{% endblock %}

<!--
	TIPS about using Flask-Bootstrap:
	Flask-Bootstrap keeps the default Bootstrap stylesheet in the
	env/lib/python3.8/site-packages/flask_bootstrap/static/css/ directory.
	You can replace the CSS file. HOWEVER, when you reinstall requirements
	for your project, you would overwrite all the Bootstrap files
	with the defaults.
	Flask-Bootstrap templates are in
	env/lib/python3.8/site-packages/flask_bootstrap/static/templates
	Modifying the Bootstrap base.html template: use directives and
	Jinja2's super() function. See Jinja2 documentation and also this:
	https://pythonhosted.org/Flask-Bootstrap/basic-usage.html
-->
