<title>Skill Scanner: CV Review</title>
<style>	
	body { background: #e8f1f9; }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Thank you for trying Skill Scanner: CV Review!</h1>
	  <ol><p style="font-size:30px">
      <li style="font-size:30px">Your report is ready! <A href="./thanks/report.pdf" download><b>download it here.</b></A></li>
	  <li style="font-size:30px">If you are finished testing please <A href="https://forms.gle/UgwLbXhVBYR5AnWAA",target="_blank">provide some <b>feedback</b> here</A>.</li></br>
	  </ol>
	  <br>
	  Return to the web-app <A href="https://clusterer-x3gfl3cnea-ew.a.run.app">here.</A></i>
    </div>
  </div>
</div>

<!--
	TIPS about using Flask-Bootstrap:
	Flask-Bootstrap keeps the default Bootstrap stylesheet in the
	env/lib/python3.8/site-packages/flask_bootstrap/static/css/ directory.
	You can replace the CSS file. HOWEVER, when you reinstall requirements
	for your project, you would overwrite all the Bootstrap files
	with the defaults.
	Flask-Bootstrap templates are in
	env/lib/python3.8/site-packages/flask_bootstrap/static/templates
	Modifying the Bootstrap base.html template: use directives and
	Jinja2's super() function. See Jinja2 documentation and also this:
	https://pythonhosted.org/Flask-Bootstrap/basic-usage.html
-->
